header{

}
.cabeça{
   background-color: darkred;
   align-items: center;
   padding: 0%;
   margin: 0%;
}
.img{
   width:10%;
}
.item1{
   background-color: aqua;width: 6%;
}
.item2{
   background-color: blue;width: 12%;
}
.item3{
   background-color: chocolate;width: 10%;
}
.item4{
   background-color: darkgoldenrod;width: 13%;
}
.item5{
   background-color: red;width: 8%;
}
